In [3]:
import os

project_root = '/home/ubuntu/Thesis-KNMI-FoggyGAN/'

In [4]:
import pandas as pd

fpath = os.path.join(project_root, 'data/raw/allAnnotations20210422_pkv4.pkl')

df = pd.read_pickle(fpath)
df

,filepath,label,day_phase,filename
0,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A5...,No Fog,1,A50-HM1927-ID11542_20181102_0651.jpg
1,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A1...,No Fog,1,A15-HM797-ID12045_20181103_0941.jpg
2,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A2...,No Fog,1,A28-HM1982-ID13517_20181103_0801.jpg
3,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A4...,No Fog,1,A4-HM643-ID111940_20181103_0831.jpg
4,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A5...,No Fog,1,A50-HM1838-ID11510_20181103_1011.jpg
...,...,...,...,...
36354,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A2...,No Fog,1,A2-HM765-ID10913_20170905_1100.jpg
36355,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A4...,No Fog,11,A4-HM118-ID13975_20200121_1610.jpg
36356,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A5...,Fog,0,A50-HM1907-ID11535_20200121_2300.jpg
36357,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A5...,No Fog,20,A50-HM1858-ID11642_20170915_0431.jpg
36358,/nas-research.knmi.nl/sensordata/CAMERA/RWS/A2...,Fog,0,A2-HM758-ID10911_20200122_0500.jpg

In [6]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2, stratify=df[['label', 'day_phase']], random_state=0)

In [7]:
train.groupby('label').count()

            filepath  day_phase  filename
label
Cannot Say      2073       2073      2073
Fog             1198       1198      1198
No Fog         31015      31015     31015

In [8]:
test.groupby('label').count()

            filepath  day_phase  filename
label
Cannot Say       519        519       519
Fog              299        299       299
No Fog          7754       7754      7754

In [9]:
train.groupby('day_phase').count()

           filepath  label  filename
day_phase
0             14350  14350     14350
1             16806  16806     16806
10             1428   1428      1428
11               50     50        50
20             1431   1431      1431
21               41     41        41
30               88     88        88
31               92     92        92

In [10]:
test.groupby('day_phase').count()

           filepath  label  filename
day_phase
0              3589   3589      3589
1              4201   4201      4201
10              357    357       357
11               13     13        13
20              357    357       357
21               10     10        10
30               22     22        22
31               23     23        23

In [11]:
train.to_pickle(os.path.join(project_root, 'data/processed/annotations_train.pkl'))
test.to_pickle(os.path.join(project_root, 'data/processed/annotations_test.pkl'))